<!-- Blog Banner Top -->
<section class="blog-top-banner">
    <div class="top-banner__image">
        <img src="https://cdn11.bigcommerce.com/s-5xii52yioo/images/stencil/original/image-manager/blog-top-banner.png" alt="Top Banner Image">
    </div>

    <div class="top-banner__content">
        <div class="content__heading">
            <h4 class="termina">GHID</h4>
        </div>

        <div class="content__body">
            <h4 class="flecha-m">Cum sa iti alegi Biblia noua de studiu</h4>
            <p>
                A guide for figuring out which Bible will help your daily reading of the Scriptures.
            </p>

            <a href="#">Citeste mai mult</a>
        </div>
    </div>
</section>

<!-- Blog Search -->
<section class="blog-search">
    <h3 class="blog-search__heading flecha-m text-center">Cautare</h3>
    <div class="blog-search__form">
        <input type="text" class="blog-search__input" placeholder="Ruth Chou Simons">
        
        <div class="blog-search__icon">
            <span class="icon">
                <svg><use xlink:href="#blog-search-icon"></use></svg>
            </span>
        </div>
    </div>
</section>

<!-- Blog Tabs Title -->
<section class="blog-tab__title">
    <ul class="tab-title__list">
        <li class="tab-title__item active">
            <a href="#blog-interviuri" class="tab-title__link">Interviuri</a>
        </li>
        <li class="tab-title__item">
            <a href="#blog-incurajare" class="tab-title__link">Ghiduri</a>
        </li>
        <li class="tab-title__item">
            <a href="#blog-recomandari" class="tab-title__link">Recomandari</a>
        </li>
        <li class="tab-title__item">
            <a href="#blog-recenzii" class="tab-title__link">Recenzii</a>
        </li>
    </ul>
</section>

<!-- Blog Tabs Content  -->
<section class="blog-tab__contents">
    <div id="blog-interviuri" class="blog-tab__content blog-tab__content--interviuri">
        <div class="blog-tab-content__info">
            <h4 class="blog-tab-content__title flecha-m text-center">Interviuri</h4>
            <p class="blog-tab-content__text">
                We’re here to guide you on finding the resources and products that support your spiritual formation to become more like Jesus.
            </p>

            <a href="/blog/tag/Interviuri" class="blog-tab-content__link">
                View all interviuri articles
            </a>
        </div>

        <div class="blog-slick-contain">
            <div class="blog-tab-content__post blog-tab-content__post--interviuri">
            </div>
        </div>
    </div>

    <div id="blog-incurajare" class="blog-tab__content blog-tab__content--incurajare">
        <div class="blog-tab-content__info">
            <h4 class="blog-tab-content__title flecha-m text-center">Incurajare</h4>
            <p class="blog-tab-content__text">
                We’re here to guide you on finding the resources and cultivating practices that help you become more like Jesus.
            </p>

            <a href="/blog/tag/Incurajare" class="blog-tab-content__link">
                View all incurajare articles
            </a>
        </div>

        <div class="blog-slick-contain">
            <div class="blog-tab-content__post blog-tab-content__post--incurajare">
            </div>
        </div>
    </div>

    <div id="blog-recomandari" class="blog-tab__content blog-tab__content--recomandari">
        <div class="blog-tab-content__info">
            <h4 class="blog-tab-content__title flecha-m text-center">Recomandari</h4>
            <p class="blog-tab-content__text">
                We’re here to guide you on finding the resources and products that support your spiritual formation to become more like Jesus.
            </p>

            <a href="/blog/tag/Recomandari" class="blog-tab-content__link">
                View all recomandari articles
            </a>
        </div>

        <div class="blog-slick-contain">
            <div class="blog-tab-content__post blog-tab-content__post--recomandari">
            </div>
        </div>
    </div>

    <div id="blog-recenzii" class="blog-tab__content blog-tab__content--recenzii">
        <div class="blog-tab-content__info">
            <h4 class="blog-tab-content__title flecha-m text-center">Recenzii</h4>
            <p class="blog-tab-content__text">
                We’re here to guide you on finding the resources and products that support your spiritual formation to become more like Jesus.
            </p>

            <a href="/blog/tag/Recenzii" class="blog-tab-content__link">
                View all recenzii articles
            </a>
        </div>

        <div class="blog-slick-contain">
            <div class="blog-tab-content__post blog-tab-content__post--recenzii">
            </div>
        </div>
    </div>
</section>