---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
products:
    featured:
        limit: {{theme_settings.sidebar_products_per_page}}
    new:
        limit: {{theme_settings.sidebar_products_per_page}}
    top_sellers:
        limit: {{theme_settings.sidebar_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
    {{{region name="category_below_header"}}}

    <div class="container">
        <div class="breadcrumb-wrapper">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
      
        <!-- {{> components/halothemes/category/halo-subcategories}} -->
        <div class="page page-category page-listing">
       
            {{#if theme_settings.halo-category-sidebar}}
                <aside class="page-sidebar{{#or (if theme_settings.haloStickyToolbar_viewAs) (if theme_settings.haloStickyToolbar_limit) (if theme_settings.haloStickyToolbar_sort)}} has-toolbar{{/or}}" id="faceted-search-container">
                    <div class="page-sidebar-close">
                        <span class="title">{{lang 'common.sidebar'}}</span>
                        <a href="#" class="close">
                            <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                                <title>{{lang 'common.close'}}</title>
                                <desc>{{lang 'common.close'}}</desc>
                                <use xlink:href="#icon-close"></use>
                            </svg>
                        </a>
                    </div>
                    {{> components/category/sidebar}}
                </aside>
            {{/if}}

            <main id="product-listing-container" class="page-content">

              <!-- start change -->
                {{#if category.image}}
                    <div class="page-listing-author">
                        <div class="page-listing-author_image">
                            <div class="img-wrap">
                                {{> components/common/responsive-img image=category.image fallback_size=theme_settings.zoom_size lazyload=theme_settings.lazyload_mode class="page-listing-author-img" }}
                            </div>
                        </div>
                        <div class="page-listing-author_content">
                            <div class="page-listing-author_head">
                                {{{category.description}}}
                            </div>
                            <div class="page-listing-author_form">
                                <form class="form" action="{{urls.subscribe.action}}" method="post">
                                    <fieldset class="form-fieldset">
                                        <input type="hidden" name="action" value="subscribe" />
                                        <input type="hidden" name="nl_first_name" value="bc" />
                                        <input type="hidden" name="check" value="1" />
                                        <div class="form-field">
                                            <label class="form-label" for="nl_email3">{{lang 'common.title_email_address'}}</label>
                                            <div class="form-prefixPostfix wrap">
                                                <input
                                                    class="form-input"
                                                    id="nl_email3"
                                                    name="nl_email"
                                                    type="email"
                                                    value="{{customer.email}}"
                                                    placeholder="{{lang 'newsletter.subscribe_email'}}"
                                                    aria-describedby="alertBox-message-text"
                                                    aria-required="true"
                                                />
                                                <input class="button button--tertiary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_button'}}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="page-listing-header">
                        <div class="page-listing-header--content no-banner">
                            <div class="halo-description haloCustomScrollbar">
                                <h1 class="page-heading">{{category.name}}</h1>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="page-listing-header">
                        <div class="page-listing-header--content no-banner">
                            <div class="halo-description haloCustomScrollbar no-image">
                                <h1 class="page-heading">{{category.name}}</h1>
                                {{#if category.description}}
                                <div class="page-description">
                                    {{{category.description}}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
       
                {{#if theme_settings.halo-category-sidebar}}
                    <div class="halo-toolbar has-sidebar">
                        <div class="page-sidebar-mobile-wrapper">
                            <div class="page-sidebar-mobile">
                              <svg class="icon" role="img" aria-label="{{lang 'common.sidebar'}}">
                                <title>{{lang 'common.sidebar'}}</title>
                                <desc>{{lang 'common.sidebar'}}</desc>
                                <use xlink:href="#icon-sidebar"></use>
                              </svg>
                              <span class="text">{{lang 'common.sidebar'}}</span>
                                
                            </div>
                        </div>
                        {{#if category.products}}
                            {{> components/halothemes/gallery/halo-toolbar sort=pagination.category.sort}}
                        {{/if}}
                    </div>
                {{else}}
                    {{#or (if theme_settings.haloStickyToolbar_viewAs) (if theme_settings.haloStickyToolbar_limit) (if theme_settings.haloStickyToolbar_sort)}}
                        <div class="halo-toolbar">
                            {{#if category.products}}
                                {{> components/halothemes/gallery/halo-toolbar sort=pagination.category.sort}}
                            {{/if}}
                        </div>
                    {{/or}}
                {{/if}}

                 <!-- end change -->

                <div class="product-listing-content">
                    {{#if category.products}}
                        {{> components/category/product-listing productsnew=products.new show_compare=category.show_compare}}
                    {{else}}
                        <p class="page-no-products">{{lang 'categories.no_products'}}</p>
                    {{/if}}
                    {{#if theme_settings.halo-category-sidebar-right}}
                        <div class="footer-cetgory-product productGrid col-{{theme_settings.product_list_display_col}}"></div>
                    {{/if}}
                    
                    {{{region name="home_category_text_bottom--global"}}}
                    {{{region name="home_category_text_bottom"}}}
                </div>

                {{{region name="home_category_text--global"}}}
                {{{region name="home_category_text"}}}

                {{{region name="category_below_content"}}}
            </main> 
        </div>
    </div>


    {{#if theme_settings.category_product-4 '==' 'Featured'}}
        {{> components/halothemes/product/halo-product-4
            data-sort="?sort=featured" 
            productsnew=products.new
            cateID=theme_settings.category_product-4-id
            title=theme_settings.category_product-4-title
            des=theme_settings.category_product-4-des
            link=theme_settings.category_product-4-link
        }}
    {{else if theme_settings.category_product-4 '==' 'New'}}
        {{> components/halothemes/product/halo-product-4
            data-sort="?sort=newest" 
            productsnew=products.new
            cateID=theme_settings.category_product-4-id
            title=theme_settings.category_product-4-title
            des=theme_settings.category_product-4-des
            link=theme_settings.category_product-4-link
        }}
    {{else if theme_settings.category_product-4 '==' 'Top'}}
        {{> components/halothemes/product/halo-product-4
            data-sort="?sort=bestselling" 
            productsnew=products.new
            cateID=theme_settings.category_product-4-id
            title=theme_settings.category_product-4-title
            des=theme_settings.category_product-4-des
            link=theme_settings.category_product-4-link
        }}
    {{/if}}

    {{#if theme_settings.category_product-top '==' 'Top'}}
        {{> components/products/top
            products=products.top_sellers
            productsnew=products.new
            title=theme_settings.category_product-top-title
            link=theme_settings.category_product-top-link
            block_id="halo-product-block-2"
            block_limit=theme_settings.home_product_limit
            block_column=theme_settings.home_product_col
            block_layout=theme_settings.home_product_2_layout
        }}
    {{/if}}


    {{#if theme_settings.halo_recently_viewed_products }}
        {{> components/halothemes/global/halo-recently-viewed-block 
            title = theme_settings.halo_recently_viewed_products_title
        }}
    {{/if}}
    
   
{{/partial}}
{{> layout/base}}
