<nav class="navBar navBar--account navBar--account2">
    <ul class="navBar-section account-navigation">
        <li class="navBar-item termina item-gift__buy">
            <a class="navBar-action" href="#gift__buy" aria-label="{{lang 'gift_certificate.purchase.heading'}}">
                {{lang 'gift_certificate.purchase.heading'}}
            </a>
        </li>
        <li class="navBar-item termina item-gift__active">
            <a class="navBar-action" href="#gift__active" aria-label="{{lang 'gift_certificate.redeem.heading'}}">
                {{lang 'gift_certificate.redeem.heading'}}
            </a>
        </li>
        <li class="navBar-item termina item-gift__verify">
            <a class="navBar-action" href="#gift__verify" aria-label="{{lang 'gift_certificate.balance.heading'}}">
                {{lang 'gift_certificate.balance.heading'}}
            </a>
        </li>
    </ul>
</nav>
